@font-face {
    font-family: 'montserrat';
    src: url(../data/font/montserrat/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: bold;
  }
  @font-face {
    font-family: 'montserrat';
    src: url(../data/font/montserrat/Montserrat-Medium.ttf);
    font-weight: 700;
    font-style:normal;
  }
  @font-face {
    font-family: 'montserrat';
    src: url(../data/font/montserrat/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style:normal;
  }
  @font-face {
    font-family: 'montserrat';
    src: url(../data/font/montserrat/Montserrat-SemiBold.ttf);
    font-weight: 800;
    font-style:normal;
  }
  @font-face{
    font-family: 'montserrat';
    src: url(../data/font/montserrat/Montserrat-Italic.ttf);
    font-weight:400;
    font-style: italic; 
}


html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    background-color:#f2c47f ;
}

header{
    grid-area: 1/1/1/10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #eba24c;
    margin: 0;
    height: 200px;
}


.logo img{
        width: 250px;
        object-fit: cover;
        margin: auto;
}

main{
    grid-area: 2/1/3/10;
}

.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 30px;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    z-index: 1;
    position: relative;
}

.about h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: bold;
    color:#e89038;
    text-align: center;
}

.about p{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    color:#fcf0d8;
    text-align: center;
}

.about::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:url(../data/img/childrenImg/1713126252627.jpg) fixed;
    background-size: contain;
    z-index: -10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    filter: blur(3px) grayscale(60%);
}


.textAbout{
    position: relative;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4)

}


.horizontalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.horizontalList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 50px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.horizontalList li{
    display: flex;
    list-style: none;
    max-width: 20%;
    min-width: 10%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.horizontalList li p{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    letter-spacing: normal;
    height: 200px;

}

.tribute{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.tributeList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
}

.tributeList li{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: 20%;
}

.tributeList p{
    font-size: 20px;
    height: 200px;
    text-align: center;
}


h1{
    font-family:'montserrat';
    font-weight: bold;
    font-style: bold;
    font-size: 30px;
    text-align: center;
}

h2{
    font-family:'montserrat';
    font-weight: 500;
    font-style: italic;
    font-size: 25px;
    text-align: center;
}

p{
    font-family:'montserrat';
    font-weight: normal;
    font-style: normal;
    text-align: start;
}




/* 
'carrot-orange': {
        '50': '#fef8ee',
        '100': '#fcf0d8',
        '200': '#f7ddb1',
        '300': '#f2c47f',
        '400': '#eba24c',
        '500': '#e89038',
        '600': '#d86f1e',
        '700': '#b3551b',
        '800': '#8f441d',
        '900': '#73391b',
        '950': '#3e1c0c',
    },
*/